@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    max-width: 1550px;
    height: 800px;
    background: rgba(229, 84, 115, 0.1);
    margin-bottom: 150px;
}

.banner-section {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 50px;
}

.header-content {
    width: 50%;
    height: 800px;;
    display: flex;
    flex-direction: column;
    margin-top: 197px;
}

.header-content h1 {
    color: rgb(39, 39, 39);
    font-family: "Lato", sans-serif;
    font-size: 69px;
    font-weight: 800;
    line-height: 82px;
    margin-bottom: 24px;
}

.header-content  p{
    color: rgba(39, 39, 39, 0.6);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.header-content .first-btn {
    width: 177px;
    height: 64px;
    color: rgb(255, 255, 255);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    border: none;
    cursor: pointer;
}
.header-image img {
    width: 100%;
    height: 800px;
    
}

/* Header end */

/* first section start here */

.featured-flower-section {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 128px;
}

.featured-flower-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.featured-flower-description h1 {
    color: rgb(39, 39, 39);
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.featured-flower-description p {
    color: rgba(39, 39, 39, 0.6);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.featured-flower-image {
    /* width: 80%; */
    height: 605px;
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.featured-flower-image .first-featured-image {
    width: 450px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.featured-flower-image .second-featured-image {
    width: 450px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-flower-image .third-featured-image {
    width: 450px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.first-featured-image img {
    margin-bottom: 18px;
    margin-top: 149px;
}

.second-featured-image img {
    margin-bottom: 75px;
    margin-top: 153px;
    padding-left: 25px;
}

.third-featured-image img {
    margin-bottom: 20px;
    margin-top: 107px;
}

.featured-flower-image >div p {
    color: rgb(39, 39, 39);
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 700;
}
/* first featured section end here */

/* Service section start here */

.service-section {
    width: 80%;
    height: 320px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 85px;
    margin-bottom: 128px;
}

.delivery-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.delivery-service img {
    margin-bottom: 24px;
}

.delivery-service p{
    color: rgba(39, 39, 39, 0.8);
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.production-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.production-section img {
    margin-bottom: 24px;
}

.production-section p{
    color: rgba(39, 39, 39, 0.8);
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.support-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.support-section img {
    margin-bottom: 24px;
}

.support-section p{
    color: rgba(39, 39, 39, 0.8);
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

/* support section end here */

/* hot deal section start here */

.hotdeal-section {
    /* max-width: 1550px; */
    height: 600px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
}

.total-hotdeal {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 120px;
}

.hotdeal-content {
    width: 794px;
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 33px;
    padding: 20px;
    margin-top: 70px;
}

.hotdeal-content h1 {
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 24px;
}

.hotdeal-content p {
    color: rgba(39, 39, 39, 0.6);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.hotdeal-content span {
    color: rgba(255, 0, 0, 0.7);
}

.hotdeal-content button {
    color: rgb(255, 255, 255);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding: 20px 43px 20px 43px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    border: none;
    cursor: pointer;
}
.hotdeal-image {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 80px;
}


/* hot deal section end */

/* Instagram image container start here */

.insta-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 128px;
}

.main-title {
    width: 50%;
    margin: 0 auto;
}

.insta-title h3{
    font-size: 2.5rem;
    font-family: "Lato", sans-serif;
    color: rgb(39, 39, 39);
    font-weight: 800;
    margin-bottom: 24px;
}

.insta-title p{
    font-size: 1.125rem;
    font-family: "Lato", sans-serif;
    color: rgba(39, 39, 39, 0.6);
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.insta-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}


.insta-image-container img {
    max-width: 295px;
    /* height: 350px; */
}


/* subscribing section start here */

.subscribe-container {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    background-image: url(../Rectangle\ 9.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
}


.subscribe-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.subscribe-title h3{
    font-size: 2.5rem;
    font-family: "Lato", sans-serif;
    color: rgb(39, 39, 39);
    font-weight: 800;
    margin-bottom: 16px;
}

.subscribe-title p {
    font-size: 1.125rem;
    font-family: "Lato", sans-serif;
    color: rgba(39, 39, 39, 0.6);
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}


.subscribe-inputbox {
    display: flex;
    gap: 16px;
}
.subscribe-inputbox  input {
    width: 550px;
    height: 64px;
    padding-left: 22px;
    display: flex;
    border: none;
    border-radius: 8px;
}

.first-btn {
    width: 177px;
    height: 64px;
    color: rgb(255, 255, 255);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    border: none;
    cursor: pointer;
}

/* subscribing section end here */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    background-color: rgb(17, 16, 16);
    color: rgb(255, 255, 255);
}


.footer-container h3 {
    font-size: 3rem;
    font-family: "Lato", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin-bottom: 24px;
}

.footer-container h3 span {
    color: rgb(229, 84, 115);
}

.footer-container h6 {
    width: 40%;
    margin: 0 auto;
    font-size: 1.125rem;
    font-family: "Lato", sans-serif;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.footer-container p {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    line-height: 30px;
}













/* Responsible for mobile devices design start here */

@media screen and (max-width:576px) {
    .header-container {
        height: 1100px;
    }

    .banner-section {
        flex-direction: column;
        gap: 0px;
    }

    .header-content {
        width: 100%;
        height: 530px;
        margin-top: 70px;
    }

    .header-content h1 {
        font-size: 41px;
        line-height: 58px;
    }

    .header-image img {
        width: 100%;
        height: 500px;
    }

    .header-container {
        margin-bottom: 100px;
    }
/* header section ends */


/* featured section start */

    .featured-flower-image {
        flex-direction: column;
        position: relative;
    }

    .featured-flower-image .first-featured-image {
        width: 400px;
        height: 500px;
        margin-bottom: 80px;
        position: absolute;
        top: ;
    }
    .featured-flower-image .second-featured-image {
        width: 400px;
        height: 500px;
        margin-bottom: 80px;
        position: absolute;
        top: 650px;
    }
    .featured-flower-image .third-featured-image {
        width: 400px;
        height: 500px;
        margin-bottom: 80px;
        position: absolute;
        top: 1270px;
    }

    .third-featured-image img  {
        margin-top: 80px;
    }

    .first-featured-image img {
        margin-bottom: 46px;
    }
            
    .featured-flower-description {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .featured-flower-image {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    /* service-section */

    .service-section {
        position: relative;
        top: 1200px;
        flex-direction: column;
        height: 740px;
        gap: 90px;
        width: 90%;
        margin-bottom: 0px;
    }

   .hotdeal-section {
    position: relative;
    top: 1300px;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   }

   .total-hotdeal  {
    flex-direction: column;
    max-width: 100%;
    gap: 90px;
   }

   .hotdeal-section h1 {
    width: 390px;
   }

    .hotdeal-section p {
    width: 325px;
   }

   .hotdeal-content  {
    width: 400px;
    padding-left: 0;
   }

   .hotdeal-content h1 {
    font-size: 28px;
   }

   .hotdeal-content p {
    font-size: 16px;
   }

   .hotdeal-image {
    margin-right: 0;
   }
   .hotdeal-content button {
    width: 170px;
   }

   /* insta container start here */

   .insta-container {
    position: relative;
    top: 1300px;
   }

   .main-title {
    width: 100%;
   }

   .insta-image-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 50px;
   }

   .insta-image-container img {
    width: 340px;
   }
  

   /* subscribe-container */

   .subscribe-container {
    width: 90%;
    height: 190px;
    position: relative;
    top: 1220px;
   }

   .subscribe-title {
    width: 100%;
   }

   .subscribe-title h3 {
    font-size: 2rem;
    margin-bottom: 10px;
   }

   .subscribe-title p {
    margin-bottom: 30px;
   }

   .subscribe-inputbox {
    gap: 8px;
   }
.subscribe-inputbox input{
    width: 230px;
    height: 45px;
}

   .first-btn {
    width: 100px;
    height: 45px;
    padding: 0;
    font-size: 12px;
   }

   .footer-container {
    position: relative;
    top: 1150px;
    height: 250px;
    width: 100%;
   }

   .footer-container h3 {
    font-size: 2.3rem;
   }

   .footer-container h6 {
    width: 100%;
    font-size: 0.85rem;
   }

   .footer-container p {
    font-size: 0.75rem;
   }
}

/* Responsive Mobile Devices design end here */